* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
}

#main-container {
    border: solid 1px black;
    height:500px;
    width:900px;
    display:grid;
    grid-template-columns: 1fr 2fr;
}

#options-container {
    border: solid 1px red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.button {
    height:40px;
    width:100px;
    border-radius: 10px;
}

#sketch-container {
    border: solid 1px blue;
    display: flex;
    flex-wrap: wrap;
}

